@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: gilroy;
    src: url(src\assets\font\Gilroy-Bold-Rupee.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   font-family: gilroy;
   

}
body{
    min-height: 100vh;
    background-color: white;
   color: black;
    
}
.heit{
    height: calc(100vh - 17vh);
}

.location{
  position: absalute;
}
.container-dishes{
    height:150px;
    width:150px;
  
}
.container-dishes img{
    height:100%;
    width:100%;
 
}
